apiVersion: 1

datasources:
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000
    editable: true

  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: loki
        tags: ["job", "host", "container_name"]
        mapTagNamesEnabled: true
        spanStartTimeShift: 5m
        spanEndTimeShift: 5m
      nodeGraph:
        enabled: true
    editable: true
